@model IEnumerable<PortalGamerX.Models.Jogo>

<div class="Titulo">
    <h1>Todos os Jogos</h1>
</div>

<div class="row g-4">
    @foreach (var jogo in Model)
    {
        <div class="col-md-4 col-lg-3">
            <div class="card h-100">

                <div class="img">
                    <img src="@jogo.ImagemUrl" alt="@jogo.Nome">
                </div>

                <div class="body">
                    <h3>@jogo.Nome</h3>

                    <p class="descricao">
                        @jogo.Descricao
                    </p>

                    <p class="preco">
                        @jogo.Preco.ToString("C",
                        new System.Globalization.CultureInfo("pt-BR"))
                </p>

                <a asp-controller="Compra"
                   asp-action="Adicionar"
                   asp-route-id="@jogo.JogoId"
                   class="btn-comprar">
                    Comprar
                </a>

            </div>
        </div>
    </div>
        }
</div>
