@{
    Layout = "_Layout";
}

<div class="page-area">
    <div class="side left">
        <img src="~/images/SideImageHalo.png" alt="Halo" />
    </div>

    <div class="main-content">
        <div class="slider">
            <div class="slides">
                <div class="slide active"><img src="~/images/SlideDaysGone.jpg" alt="Days Gone" /></div>
                <div class="slide"><img src="~/images/SlideGow.jpg" alt="God of War" /></div>
                <div class="slide"><img src="~/images/SlideHorizon.jpg" alt="Horizon" /></div>
                <div class="slide"><img src="~/images/SlideTlous.jpg" alt="The Last of Us" /></div>
            </div>

            <button class="nav prev">&#10094;</button>
            <button class="nav next">&#10095;</button>

            <div class="dots"></div>
        </div>
    </div>

    <div class="side right">
        <img src="~/images/SideImageAssassin.png" alt="Assassin" />
    </div>

    <div class="explorar">
        <h2 >Bem-vindo ao Portal GamerX!</h2>

        <h6>
            Prepare-se para entrar no próximo nível! Descubra as novidades mais insanas,
            análises completas e os lançamentos que estão dominando o universo gamer.
            Aqui a ação nunca para.
        </h6>

        <h6>
            Monte seu arsenal, garanta seus jogos favoritos e encontre os produtos mais
            épicos do mundo nerd para elevar sua experiência ao máximo.
        </h6>

        @{

            foreach (var jogo in ViewBag.Jogos)
            {
                <div class="jogo">
                    <img src="@jogo.ImagemUrl" alt="@jogo.Nome" />
                    <h4>@jogo.Nome</h4>
                    <p>@jogo.Descricao</p>
                    <span class="preco">R$ @jogo.Preco.ToString("F2")</span>
                </div>
            }
        }
        


    </div>
</div>
