

@model IEnumerable<PortalGamerX.Models.Produto>

<div class="Titulo"><h1>Todos os Produtos</h1> </div>


<div class="Conteiner">
    <div class="row">
        @foreach (var Produto in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h2>@Produto.Nome</h2>
                <h3>Preço: R$ @Produto.Preco</h3>
                <p class="Image"><img src="@Produto.ImagemUrl"></p>
                <h4>Em estoque: @Produto.Quantidade Unidades</h4>
                <h4>@Produto.Descricao</h4>
                <a asp-controller="Home" asp-action="index">Comprar</a>
            </div>

            <br>
        }
    </div>
</div>

