@model IEnumerable<PortalGamerX.Models.Produto>

<div class="Titulo"><h1>Todos os Produtos</h1> </div>


<div class="row g-4">
    @foreach (var Produto in Model)
    {
        <div class="col-md-4 col-lg-3">
            <div class="produto-card">
                <div class="produto-img">
                    <img src="@Produto.ImagemUrl" alt="@Produto.Nome">
                </div>

                <div class="produto-body">
                    <h3>@Produto.Nome</h3>
                    <p class="descricao">@Produto.Descricao</p>

                    <p class="preco">R$ @Produto.Preco</p>
                    <p class="estoque">Estoque: @Produto.Quantidade</p>

                    <a asp-controller="Home" asp-action="index" class="btn-comprar">
                        Comprar
                    </a>
                </div>
            </div>
        </div>
    }
</div>

